body{
			background-image: url("images/5284.jpg");
			background-repeat: no-repeat ;
			font-family: Calibri;	
			font-size:20px;
		}
		middle{
			width: 45%;
			margin: 35px;
			background: white;
		}
		section
		{
			width: 100%;
			padding-bottom: 10px;
		}
		section img{
			width: 50%;
		}
	}
.banner {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto
}
